{{define "navbar"}}
<header>
    <nav>
        <a href="/">Accueil</a>

        {{if .IsLoggedIn}}
            <a href="/post/create">Créer un post</a>
            <a href="/profile">Profil</a>
            <form action="/logout" method="POST" style="display:inline; margin:0;">
                <button type="submit">Déconnexion</button>
            </form>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {{end}}
    </nav>
</header>
{{end}}